<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Presences Stream</title>
  <link href="<%= PaaS::HTTPBASE %>atom/<%= @user[:nick] %>" rel="alternate" type="application/atom+xml"/>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h2>Latest <%= @user[:nick] %> presence changes</h2>
<div id="entries">
<ul>
<% @presences.each do |p| %>
<li class="lien" style="background-image: url(/images/<%= p[:status] %>.png)" title="<%= p[:status] %>">
<% if p[:message].empty? %>
<%= p[:status] %>
<% else %>
<%= p[:message] %>
<% end %>
<small title="<%= Time.parse(p[:created].to_s).to_formatted_s(:custom) %>">
<%= Time.parse(p[:created].to_s).time_since(Time.now) %> ago</small>
</li>
<% end %>
</ul>
</div>
<p><a href="/">&laquo; Back to the main page</a></p>
</body>
</html>
